body {
  background-color: beige;
}

#listStyle {
  color: brown;
  font-style: oblique;
}

button {
  border: 1px solid black;
  color: black;
  background-color: beige;
  margin: 30px auto;
  padding: 20px 25px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
}

button:hover {
  transition: 3ms;
  background-color: black;
  color: beige;
  border: beige;
  text-decoration: underline;
}
